{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
  <meta property="og:title" content="Sarah's on the Road" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="{{ url_for('static', filename='img/og-image.jpg') }}" />
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/glider.min.css') }}">
  {{ super() }}
{% endblock head %}

{% block navbar %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="row justify-content-center alert alert-info">
          <div class="col-sm-11 col-md-10 col-lg-9">
            <div role="alert">{{ message }}</div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!--<nav class="row justify-content-center justify-content-md-start">
    <div class="home-nav col-11 offset-md-6 col-md-6 col-lg-5 col-xl-4">
      <div><a href="#food" data-text="menu">menu</a></div>
      <div><a href="https://zaraatx.square.site" data-text="order">order</a></div>
      <div><a href="#contact" data-text="contact">contact</a></div>
    </div>
  </nav>-->
{% endblock navbar %}

{% block content %}

    <div id="home" class="home-section inverse text-center">
      <div class="row justify-content-center">
        <div class="col-11">
          <img id="home-logo" class="img-fluid"
            src="{{ url_for('static', filename='img/logo.svg') }}" alt="Sarah's on the Road">
        </div>
      </div>
      <!--<div class="home-next row">
        <a href="#food">
          <h2>
            ENTER
          </h2>
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
              bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
        </a>
      </div>-->
    </div>

    <!--<div id="dine" class="home-section">
      {% include "_sticky-header.html" %}

      <div class="home-next row">
        <a href="#food">
          <h2>
            MENU
          </h2>
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
              bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
        </a>
      </div>
    </div>-->

    {% include "_menu-content.html" %}

    <div id="food" class="home-section">
      <div class="sticky-header row justify-content-center">
        <div class="d-none d-md-flex col-md-2 p-2">
          <img class="zara-icon img-fluid"
            src="{{ url_for('static', filename='img/icon.svg') }}" >
        </div>
        <div id="food-header" class="col-9 col-md-7">
          <div class="header-item">
            <a href="#appetizers" data-text="appetizers">appetizers</a>
          </div>&bull;
          <div class="header-item">
            <a href="#salads" data-text="salads">salads</a>
          </div>&bull;
          <div class="header-item">
            <a href="#kebabs" data-text="kebabs">kebabs</a>
          </div>&bull;
          <div class="header-item">
            <a href="#plates" data-text="plates">plates</a>
          </div>&bull;
          <div class="header-item">
            <a href="#wraps" data-text="wraps">wraps</a>
          </div>&bull;
          <div class="header-item">
            <a href="#desserts" data-text="desserts">desserts</a>
          </div>&bull;
          <div class="header-item">
            <a href="#extras" data-text="extras">extras</a>
          </div>&bull;
          <div class="header-item">
            <a href="#drinks" data-text="drinks">drinks</a>
          </div>
        </div>
        <div class="d-flex col-3 col-md-2">
          <a class="btn clr sm m-auto" href="https://zaraatx.square.site/">ORDER</a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-11 col-sm-10">
          <h1 id="appetizers" class="category-title">APPETIZERS</h1>
          <div class="row">
            <div class="col-md-6 order-2">
              {% for food in a %}
                <div class="row mb-2">
                  <div class="food-name col-9">
                    {{ food.name }}
                  </div>
                  <div class="food-price col-3 text-end">
                    ${{ food.price }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-md-5 offset-md-1 order-1 order-md-3">
              <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="{{ url_for('static', filename='img/hummus.jpg') }}">
                    <p class="my-2">Hummus</p>
                  </div>
                  <div>
                    <img src="{{ url_for('static', filename='img/samosa.jpg') }}">
                    <p class="my-2">Samosa</p>
                  </div>
                </div>

                <div aria-label="Previous" class="glider-prev">‹</div>
                <div aria-label="Next" class="glider-next">›</div>
                <div role="tablist" class="dots"></div>
              </div>
            </div>
          </div>

          <h1 id="salads" class="category-title">SALADS</h1>
          <div class="row">
            <div class="col-md-6 order-2">
              {% for food in s %}
                <div class="row mb-2">
                  <div class="food-name col-9">
                    {{ food.name }}
                  </div>
                  <div class="food-price col-3 text-end">
                    ${{ food.price }}
                  </div>
                  <div class="food-info col-12">
                    {{ food.description }}
                  </div>
                  <div class="col-12 mt-1">
                    <i>Add protein</i>
                    <p class="mb-0">
                      Falafel: $3.99
                      <img class="veg-icon" src="{{ url_for('static', filename='img/veg.svg') }}" />
                    </p>
                    <p class="mb-0">
                      Arabic Chicken: $3.99
                    </p>
                    <p class="mb-0">
                      Texas Beef: $3.99
                    </p>
                    <p class="mb-0">
                      Gyro: $3.99
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-md-5 offset-md-1 order-1 order-md-3">
              <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="{{ url_for('static', filename='img/chopped-salad.jpg') }}">
                    <p class="my-2">Chopped Salad</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h1 id="kebabs" class="category-title">KEBABS</h1>
          <div class="row">
            <div class="col-md-6 order-2">
              {% for food in k %}
                <div class="row mb-2">
                  <div class="food-name col-9">
                    {{ food.name }}
                  </div>
                  <div class="food-price col-3 text-end">
                    ${{ food.price }}
                  </div>
                  <div class="food-info col">
                    {{ food.description }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-md-5 offset-md-1 order-1 order-md-3">
              <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="{{ url_for('static', filename='img/beef-kebab.jpg') }}">
                    <p class="my-2">Beef Kebab</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h1 id="plates" class="category-title">HEALTHY PLATES</h1>
          <div class="row">
            <div class="col-md-6 order-2">
              {% for food in e %}
                <div class="row mb-2">
                  <div class="food-name col-9">
                    {{ food.name }}
                    {% if food.veg %}
                      <img class="veg-icon" src="{{ url_for('static', filename='img/veg.svg') }}" />
                    {% endif %}
                  </div>
                  <div class="food-price col-3 text-end">
                    ${{ food.price }}
                  </div>
                  <div class="food-info col">
                    {{ food.description }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-md-5 offset-md-1 order-1 order-md-3">
              <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="{{ url_for('static', filename='img/beef-plate.jpg') }}">
                    <p class="my-2">Beef Plate</p>
                  </div>
                  <div>
                    <img src="{{ url_for('static', filename='img/combo-plate.jpg') }}">
                    <p class="my-2">Combo Plate</p>
                  </div>
                </div>

                <div aria-label="Previous" class="glider-prev">‹</div>
                <div aria-label="Next" class="glider-next">›</div>
                <div role="tablist" class="dots"></div>
              </div>
            </div>
          </div>

          <h1 id="wraps" class="category-title">HEALTHY WRAPS</h1>
          <div class="row">
            <div class="col-md-6 order-2">
              {% for food in w %}
                <div class="row mb-2">
                  <div class="food-name col-9">
                    {{ food.name }}
                  </div>
                  <div class="food-price col-3 text-end">
                    ${{ food.price }}
                  </div>
                  <div class="food-info col">
                    {{ food.description }}
                    {% if food.veg %}
                      <img class="veg-icon" src="{{ url_for('static', filename='img/veg.svg') }}" />
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-md-5 offset-md-1 order-1 order-md-3">
              <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="{{ url_for('static', filename='img/chk-wrap.jpg') }}">
                    <p class="my-2">Chicken Wrap</p>
                  </div>
                  <div>
                    <img src="{{ url_for('static', filename='img/gyro-wrap.jpg') }}">
                    <p class="my-2">Gyro Wrap</p>
                  </div>
                </div>

                <div aria-label="Previous" class="glider-prev">‹</div>
                <div aria-label="Next" class="glider-next">›</div>
                <div role="tablist" class="dots"></div>
              </div>
            </div>
          </div>

          <h1 id="desserts" class="category-title">DESSERTS</h1>
          <div class="row">
            <div class="col-md-6 order-2">
              {% for food in d %}
                <div class="row mb-2">
                  <div class="food-name col-9">
                    {{ food.name }}
                  </div>
                  <div class="food-price col-3 text-end">
                    ${{ food.price }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-md-5 offset-md-1 order-1 order-md-3">
              <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="{{ url_for('static', filename='img/gulab-jamun.jpg') }}">
                    <p class="my-2">Gulab Jamun</p>
                  </div>
                  <div>
                    <img src="{{ url_for('static', filename='img/rasgulla.jpg') }}">
                    <p class="my-2">Rasgulla</p>
                  </div>
                </div>

                <div aria-label="Previous" class="glider-prev">‹</div>
                <div aria-label="Next" class="glider-next">›</div>
                <div role="tablist" class="dots"></div>
              </div>
            </div>
          </div>

          <h1 id="extras" class="category-title">EXTRAS</h1>
          <div class="row">
            <div class="col-md-6 order-2">
              {% for food in ex %}
                <div class="row mb-2">
                  <div class="food-name col-9">
                    {{ food.name }}
                  </div>
                  <div class="food-price col-3 text-end">
                    ${{ food.price }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-md-5 offset-md-1 order-1 order-md-3">

            </div>
          </div>

          <h1 id="drinks" class="category-title">DRINKS</h1>
          <div class="row">
            <div class="col-md-6 order-2">
              {% for food in dk %}
                <div class="row mb-2">
                  <div class="food-name col-9">
                    {{ food.name }}
                  </div>
                  <div class="food-price col-3 text-end">
                    ${{ food.price }}
                  </div>
                  <div class="food-info col">
                    {{ food.description }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-md-5 offset-md-1 order-1 order-md-3">
              <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="{{ url_for('static', filename='img/chai.jpg') }}">
                    <p class="my-2">Chai Tea</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="home-next row">
            <a href="#contact">
              <h2>
                CONTACT
              </h2>
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                  bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div id="contact" class="home-section">
      {% include "_sticky-header.html" %}

      <div class="row mt-5 justify-content-center">
        <div class="col-11 col-md-8">
          <h1 class="page-title">Contact</h1>
          <p>
            <strong>Location</strong> <br/>
            902 East Cesar Chavez Street<br/>
            Austin, TX 78702
          </p>
          <p>
            <strong>Phone</strong><br/>
            (512) 632-0432
          </p>
          <p>
            <strong>Hours</strong><br/>
            Monday - Sunday from 11:00am - 2:00am
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-11 col-md-8">
          <h1 class="page-title mb-1 mt-4">Send us a message</h1>
          <p><strong>We cater!</strong></p>

          <form id="inquiry-form" action="" method="post">
            {{ form.hidden_tag() }}
            <p class="mb-3">{{ form.first_name }}</p>
            <p class="mb-3">{{ form.email }}</p>
            <p class="mb-3">{{ form.phone }}</p>
            <p class="mb-3">{{ form.subject }}</p>
            <p class="mb-3">{{ form.message(rows='4') }}</p>
            <input type="submit" class="btn"/>
          </form>
        </div>
      </div>
      {% block footer %}
        {{ super() }}
      {% endblock footer %}
    </div>

{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/zenscroll-min.js') }}"></script>
  <script type="text/javascript">
    zenscroll.setup(null, -1);
  </script>

  <script src="{{ url_for('static', filename='js/glider.min.js') }}"></script>
  <script type="text/javascript">
    window.addEventListener('load', function(){
      [].forEach.call(document.querySelectorAll('.glider'), function (ele) {
        new Glider(ele, {
          slidesToShow: 1,
          slidesToScroll: 1,
          draggable: true,
          scrollLock: true,
          duration: 3,
          arrows: {
              prev: ele.parentNode.querySelector('.glider-prev'),
              next: ele.parentNode.querySelector('.glider-next')
          }
        });
      });
    });
  </script>

  <script type="text/javascript">
   function onSubmit(token) {
     document.getElementById("inquiry-form").submit();
   }
 </script>
{% endblock scripts %}
